
body, input[text], button {
    color: crimson;
    font-family: Cambria, Georgia;
}

button.goback, button.save {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
button.goback, button.save {
    color: #888;
    margin-top: 12px;
    margin-bottom: 12px;
}